@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  max-width: 1439px;
  margin: 0 auto;
  padding: 0 1rem;
}

.gradient-text {
  background: linear-gradient(to right, #ffffff, #fdf0d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button-glow {
  box-shadow: 0 0 56px rgba(17, 17, 26, 0.1), 0 0 24px rgba(17, 17, 26, 0.1),
    0 0 4px rgba(0, 0, 0, 0.25);
}

.cta_box_shadow {
  border: 4px solid #fef7e9;
  box-shadow: 0 16px 56px rgba(17, 17, 26, 0.1),
    0 8px 24px rgba(17, 17, 26, 0.1), 0 4px 4px rgba(0, 0, 0, 0.25);
}
